<div>
    <br />
    <br />
    <p>World's Most Perfect Task List App!</p>
    <br />
    <br />
</div>
<div class="row">
    <div class="col-md-4">
        <p><input type="button" value="Create Task" class="btn" onclick="location.href='@Url.Action("CreateTask", "TaskTODO")'" /></p>
        <p><input type="button" value="All Tasks" class="btn" onclick="location.href='@Url.Action("Index", "TaskTODO")'" /></p>
    </div>
    <div class="col-md-4">

        <p><input type="button" value="Today's Tasks" class="btn" onclick="location.href='@Url.Action("getTasksDueTodayC", "TaskTODO")'" /></p>
        <p><input type="button" value="Tomorrow's Tasks" class="btn" onclick="location.href='@Url.Action("getTasksDueTomorrowC", "TaskTODO")'" /></p>

    </div>
    <div class="col-md-4">
        <p><input type="button" value="Completed Tasks" class="btn" onclick="location.href='@Url.Action("getTasksCompletedC", "TaskTODO")'" /></p>
        <p><input type="button" value="Overdue Tasks" class="btn" onclick="location.href='@Url.Action("getTasksOverDueC", "TaskTODO")'" /></p>
    </div>
</div>