@model IEnumerable<Week8WeekendHomework.Models.TaskTableHomework>

@{
    ViewBag.Title = "Task List";
}

<h2>Tasks</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskDueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskComplete)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskComplete)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditTask", new { id = item.TaskID }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.TaskID }) |*@
                @Html.ActionLink("Delete", "DeleteTask", new { id = item.TaskID })
            </td>
        </tr>
    }

</table>
